<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>カートに追加</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/global.css}">
</head>
<body>
    <div class="container">
        <h1 class="text-center my-4">カート追加画面</h1>
        <div class="row">
			<div class="add_to_cart-details">
            	<div class="col-md-4">
                	<img th:src="@{${product.imgPath}}" alt="商品画像" class="product-image mb-4">
                	<div class="d-grid gap-3 d-md-flex justify-content-md-center btns">
                    	<button type="button" class="btn btn-primary" onclick="window.location.href='/'">今すぐ購入</button>
                    	<button type="button" class="btn btn-secondary" onclick="window.location.href='/java_ec_program/views/cart_detail'">カート内詳細画面</button>
                    	<button type="button" class="btn btn-secondary" onclick="window.location.href='/'">Top</button>
                	</div>
            	</div>
            	<div class="col-md-8">
                	<div class="right-contents">
                    	<p class="mb-0">商品名: <span th:text="${product.productName}"></span></p>
                    	<p class="mb-0">価格: <span th:text="${#numbers.formatDecimal(product.price * (1 + (product.includeTax / 100.0)), 0, 0)}"></span>円(税込み)</p>
                    	<p class="mb-0">個数: <span th:text="${quantity}"></span></p>
                    	<p class="mt-2">カート内の合計: <span th:text="${#numbers.formatDecimal(product.price * quantity * (1 + (product.includeTax / 100.0)), 0, 0)}"></span>円(税込み)</p>
                	</div>
            	</div>
            </div>
        </div>
    </div>
</body>
</html>